<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Username</title>
</head>
<style>
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:green
  }
  .h{
    display: flex;
    justify-content: center;
  }
</style>
<body>
<div class="h"><h1>Welcome to login</h1></div>
<div class="container">

  <form method="post" action="/">
    Username:<label><input type="text" name="userName"></label>
    <input type="submit" value="okky">
  </form>

  <a href="/read">go to</a>
</div>
</body>
</html>